* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Pro";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
}

.logo {
  width: 28%;
  height: 475px;
  background-color: #ffe409;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
}

.logo-img {
  width: 150px;
  height: 150px;
  border: 8px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  letter-spacing: 3px;
  line-height: 38px;
  color: #000000;
  font-weight: 800;
}

.logo-title {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 38px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.delo h2 {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #afafaf;
  font-weight: bold;
  text-transform: uppercase;
}
.delo h1 {
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
}
.delo p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #636363;
  font-weight: 300;
  max-width: 580px;
}
.delo .delo-item {
  padding: 0 40px;
}

.format-item {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  padding: 0 10px;
  margin: 40px 0;
}
.format-item .format-item_text {
  max-width: 206px;
}
.format-item .format-item_text h3 {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
}
.format-item .format-item_text p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #636363;
  font-weight: 300;
}

.menu {
  position: absolute;
  left: 95%;
  top: 6%;
  width: 26px;
  height: 18px;
  cursor: pointer;
  z-index: 100;
}
.menu span {
  width: 26px;
  height: 3px;
  background-color: black;
  content: "";
  float: right;
  position: relative;
}
.menu span.white-menu:after {
  background-color: white;
  transform: rotate(45deg);
}
.menu span.white-menu:before {
  background-color: white;
  transform: rotate(-45deg);
  top: 7px;
}
.menu span:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: black;
  top: 7px;
  left: 0;
}
.menu span:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: black;
  top: 14px;
  left: 0;
}

.menu-open {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition-property: visibility, opacity;
  transition-duration: 0.5s;
  z-index: 1;
}
.menu-open.active {
  opacity: 1;
  visibility: visible;
}
.menu-open ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-open ul li {
  text-align: center;
  margin: 20px 0;
}
.menu-open ul a {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.4s;
}
.menu-open ul a.active {
  color: #ffe409;
}
.menu-open ul a:hover {
  color: #6f6300;
}

.shedule {
  width: 28%;
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shedule p {
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
}

.shedule-content {
  width: 72%;
  height: 315px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.shedule-content .shedule-content_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
  background-color: #ffffff;
  max-width: 180px;
  width: 100%;
}
.shedule-content .shedule-content_item .day {
  font-size: 35px;
  line-height: 38px;
  color: #000000;
  font-weight: bold;
}
.shedule-content .shedule-content_item .date {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #afafaf;
  font-weight: bold;
}
.shedule-content .shedule-content_item .date i {
  color: black;
}
.shedule-content .shedule-content_item .date ul li:last-child {
  margin-left: 1px;
}

.shedule-content_info {
  display: flex;
  align-items: center;
}
.shedule-content_info .info-text {
  max-width: 390px;
  padding: 30px;
  background-color: white;
  border: 1px solid #c6c6c6;
}
.shedule-content_info .faq-icon {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #e94a4a;
  color: #e94a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.section-answer-question {
  margin-top: 120px;
  background-color: #f7f7f7;
}

.question-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.question-item:last-child {
  margin-bottom: 0;
}
.question-item .question-img {
  width: 10%;
  background-color: #ffe409;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 155px;
}
.question-item .question-title {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 32px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  width: 393px;
}
.question-item .question-text {
  max-width: 430px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #636363;
  font-weight: 300;
}
.question-item .question-more {
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.question-item .question-more i {
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.question-item .question-more i:hover {
  background-color: #ffe409;
}

.question-item.__open .question-more i {
  transform: rotateX(180deg) !important;
}

.question-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0 50px;
  flex-wrap: wrap;
  background-color: #ffffff;
  min-height: 155px;
}

.question-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.question-answer {
  width: 100%;
  padding: 50px 10%;
  display: none;
  background-color: #ffffff;
}
.question-answer.clicked {
  display: block;
}
.question-answer .answer-item {
  margin: 25px 0;
}
.question-answer .answer-item h4 {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.question-answer .answer-item p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #636363;
  font-weight: 300;
}

.rotate {
  transform: rotate(180deg);
}

.section-more-shedule {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.more-information {
  padding: 150px 90px 100px;
  background: white;
  max-width: 1340px;
  min-height: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.more-information .left-part {
  width: 25%;
  text-align: right;
  padding-right: 10px;
}
.more-information .left-part ul {
  margin-bottom: 25px;
}
.more-information .left-part ul li {
  padding: 12px 35px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #343434;
  font-weight: 300;
}
.more-information .left-part ul li:nth-child(even) {
  background-color: #f5f5f5;
}
.more-information .left-part ul li.li-head {
  font-size: 15px;
  letter-spacing: 2px;
  color: #343434;
  font-weight: bold;
}
.more-information .left-part ul li.yellow {
  background-color: #ffe93a;
  font-weight: bold;
}
.more-information .right-part {
  width: 75%;
  text-align: right;
}
.more-information .right-part ul {
  margin-bottom: 25px;
}
.more-information .right-part ul li {
  padding: 12px 35px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #343434;
  font-weight: 300;
}
.more-information .right-part ul li:nth-child(even) {
  background-color: #f5f5f5;
}
.more-information .right-part ul li.li-head {
  font-size: 15px;
  letter-spacing: 2px;
  color: #343434;
  font-weight: bold;
}
.more-information .right-part ul li.yellow {
  background-color: #ffe93a;
  font-weight: bold;
}

.section-more-format {
  padding: 150px 0;
  border-bottom: 1px solid #e9e9eb;
}

.more-format {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.more-format_item .format_item-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.more-format_item .format_item-img img {
  opacity: 0.99;
}
.more-format_item .format_item-img span.empty-span-left {
  position: absolute;
  bottom: 20%;
  left: -27%;
  width: 126px;
  height: 126px;
  background-color: #ffe409;
  border-radius: 50%;
}
.more-format_item .format_item-img span.empty-span-right {
  position: absolute;
  top: -5%;
  right: -30%;
  width: 126px;
  height: 126px;
  background-color: #ffe409;
  border-radius: 50%;
}
.more-format_item .format_item-img p {
  margin-top: 40px;
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
}

p.item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
}

.circle-dot {
  width: 8px;
  height: 8px;
  background-color: black;
  margin: 0 6px;
  border-radius: 50%;
}

.more-format_text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #636363;
  font-weight: 300;
  text-align: center;
  max-width: 775px;
  padding: 0 10px;
  margin: 0 auto;
}

.right-text {
  position: absolute;
  top: 60%;
  left: 95%;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
}
.right-text:after {
  position: absolute;
  content: "";
  width: 44px;
  height: 3px;
  background-color: black;
  top: calc(50% - 3px );
  margin-left: 10px;
}

.section-slider {
  padding: 150px 0;
}
.section-slider .swiper-container {
  max-width: 1190px;
  margin: 0 auto;
}
.section-slider .swiper-pagination {
  color: #dddddd;
  position: relative;
  text-align: left;
}
.section-slider .swiper-pagination-current {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 28px;
  color: #000000;
  font-weight: 500;
}
.section-slider .swiper-pagination-total {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 28px;
  color: #dddddd;
  font-weight: 500;
}
.section-slider .swiper-pagination-fraction {
  bottom: 0;
}
.section-slider .swiper-slide {
  display: flex;
  justify-content: space-around;
  padding: 100px 30px;
}
.section-slider .swiper-slide .person-img {
  padding: 0 10px;
}
.section-slider .swiper-slide .name {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #000000;
  font-weight: bold;
}
.section-slider .swiper-slide .position {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #b4b4b4;
}
.section-slider .swiper-slide .review {
  max-width: 740px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #636363;
  font-weight: 300;
}
.section-slider .navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}
.section-slider .navigation .button-next,
.section-slider .navigation .button-prev {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.section-slider .navigation .button-next:hover,
.section-slider .navigation .button-prev:hover {
  background-color: #ffe409;
}

.footer-section {
  border-top: 1px solid #e9e9eb;
}

.contact-section {
  display: flex;
}
.contact-section .left-part {
  border-right: 1px solid #e9e9eb;
  width: 50%;
  padding: 100px 50px 0 70px;
  position: relative;
}
.contact-section .right-part {
  width: 50%;
  padding: 100px 50px 0 50px;
}
.contact-section .right-part .form-content .form-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contact-section .right-part .form-content .form-icon:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ffe409;
  border-radius: 50%;
  z-index: -1;
  right: -2%;
  top: 26%;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}
.contact-content p.contact-title {
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 76px;
  color: #000000;
  font-weight: bold;
}
.contact-content p.contact-subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #636363;
  font-weight: 300;
}

.social {
  margin: 50px 0;
}

.social-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.social-item .social-item_icon {
  margin-right: 30px;
}
.social-item .social-item_text a {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
}
.social-item .social-item_text a:hover {
  color: #ffe409;
}

.map {
  position: absolute;
  left: 0;
}
.map img {
  width: 90%;
  object-fit: cover;
}

form {
  padding: 100px 30px;
}
form .form-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}
form .form-item label {
  display: block;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
form .form-item input[type=text],
form .form-item input[type=email],
form .form-item input[type=tel] {
  display: block;
  width: 100%;
  border-width: 0;
  border-bottom: 4px solid #f0f0f0;
  outline: 0;
  padding: 5px 10px;
}
form .form-item-btns {
  display: flex;
  justify-content: space-between;
}
form .form-item-btns .form-item_text {
  max-width: 226px;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
}
form .form-item-btns .form-item_rbtn {
  display: flex;
}
form .form-item-btns .form-item_rbtn .block-rbtn {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
form .form-item-btns .form-item_rbtn .block-rbtn:last-child {
  margin-right: 0;
}
form .form-item-btns .form-item_rbtn .block-rbtn label {
  margin-left: 10px;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}
form .form-item-btns .form-item_rbtn .block-rbtn label:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
  left: 0;
  top: 15%;
  background-color: #f0f0f0;
  border-radius: 50%;
}
form .form-item-btns .form-item_rbtn .block-rbtn label:hover:before {
  background-color: #ffe409;
}
form .form-item-btns .form-item_rbtn input[type=radio] {
  display: none;
}
form .form-item-btns input[type=radio]:checked + label:before {
  background-color: #ffe409;
  border: 1px solid black;
}
form .form-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
form .form-submit input[type=submit] {
  width: 250px;
  padding: 15px 10px;
  background-color: #ffe409;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 17px;
  color: #000000;
  font-weight: bold;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.form-item input:focus + label {
  transform: translateY(-10px);
}

@media (max-width: 1200px) {
  .shedule-content {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  header .content .row {
    flex-wrap: wrap;
  }

  .logo {
    height: 400px;
  }

  .format ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .content {
    margin-top: 15px;
  }

  .format {
    width: 100%;
    margin-top: 15px;
  }

  .format-item {
    margin: 10px 0;
  }

  .question-box {
    min-height: 205px;
  }

  .question-item .question-img {
    height: 205px;
  }

  .right-text {
    display: none;
  }

  .circle-dot {
    display: none;
  }

  .more-format {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .section-more-format,
.section-slider {
    padding: 40px 0 20px;
  }

  .more-information {
    padding: 50px 25px;
  }

  .more-information .left-part,
.more-information .right-part {
    width: 50%;
  }
  .more-information .left-part ul li,
.more-information .right-part ul li {
    padding: 10px;
  }

  .contact-section {
    flex-wrap: wrap;
  }
  .contact-section .left-part,
.contact-section .right-part {
    width: 100%;
  }

  .map {
    position: relative;
  }
  .map img {
    width: 100%;
  }

  form {
    padding: 20px 15px;
  }
}
@media (max-width: 768px) {
  .container .row {
    flex-wrap: wrap;
  }
  .container .row .logo {
    width: 100%;
  }
  .container .row .delo {
    width: 100%;
  }
  .container .row .delo p {
    line-height: 20px;
    max-width: none;
    width: 100%;
  }

  .section-shedule .row {
    flex-wrap: wrap;
  }

  .shedule {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .shedule-content {
    width: 100%;
    padding: 0 15px;
  }

  .section-answer-question {
    margin-top: 50px;
  }

  .question-item .question-img {
    width: 25%;
  }

  .question-content {
    display: block;
  }

  .question-item .question-img {
    width: 100%;
    height: 90px;
  }

  .question-box {
    width: 100%;
    padding: 10px 15px;
  }
}
@media (max-width: 575px) {
  .format ul {
    display: flex;
    flex-wrap: wrap;
  }
  .format ul li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .format ul li:first-child {
    margin-bottom: 20px;
  }

  .menu {
    left: 88%;
  }

  .logo {
    height: 220px;
  }
  .logo .logo-img {
    font-size: 20px;
    width: 100px;
    height: 100px;
  }

  .delo .delo-item {
    padding: 0 15px;
  }
  .delo h1 {
    font-size: 25px;
  }

  .shedule p {
    font-size: 24px;
  }

  .shedule-content_info .info-text {
    padding: 10px;
  }

  .shedule-content_info .faq-icon {
    display: none;
  }

  .question-item .question-text {
    line-height: 18px;
  }

  .question-item .question-more {
    letter-spacing: 1px;
  }

  .question-box {
    min-height: 220px;
  }

  .more-format_item {
    width: 100%;
    margin: 15px 0;
  }
  .more-format_item .format_item-img span.empty-span-left {
    bottom: 15%;
    left: 26%;
  }
  .more-format_item .format_item-img span.empty-span-right {
    right: 24%;
  }

  .section-slider .swiper-slide {
    display: block;
    padding: 20px 10px;
  }

  .more-information .right-part ul li,
.more-information .left-part ul li {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 5px;
  }

  .map img {
    height: 250px;
  }

  form .form-item-btns {
    display: block;
  }
  form .form-item-btns .form-item_text {
    width: 100%;
    max-width: 100%;
  }
  form .form-item-btns .form-item_rbtn {
    max-width: 100%;
    margin-top: 20px;
    justify-content: space-around;
  }
  form .form-submit {
    justify-content: center;
    align-items: center;
  }

  .contact-section .right-part {
    padding: 30px 15px;
  }

  .contact-section .left-part {
    padding: 30px 15px;
  }
}
@media (max-width: 375px) {
  .delo h1 {
    font-size: 23px;
  }
}

/*# sourceMappingURL=style.css.map */
